<header class="row">
    <ul class="nav justify-content">
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/home']">Home</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/orders']">Bestellingen</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/leveranciers']">Leverdagen</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/stock']">Stock</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/pakket']">Pakketten</a></li>
    </ul>
</header>